.filters {
  text-align: center;
  padding: 2rem 1rem;
}

.category-buttons {
  margin-top: 1rem;
}

.category-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #f3f3f3;
  border-radius: 20px;
  font-size: 1rem;
  transition: 0.3s;
}

.category-buttons button:hover {
  background-color: #FF6B6B;
  color: white;
}






.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem 1rem;
}

.recipe-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-6px);
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-info {
  padding: 1rem;
}

.recipe-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.recipe-info p {
  font-size: 0.9rem;
  color: #666;
}

.view-btn {
  display: inline-block;
  margin-top: 1rem;
  background: #FF6B6B;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s ease;
}

.view-btn:hover {
  background: #FFA07A;
}

